  .ms-23{
    margin-left: 23px;
  }

  .ms-32-minus{
    margin-left: -32px;
  }
  
  .w-50vw{
    width: 50vw !important;
  }
  
  .w-60{
    width: 60% !important;
  }

  .w-40{
    width: 40% !important;
  }
  
  .h-20 {
    height: 50px;
  }
  
  .w-4 {
    width: 4%;
  }
  
  .w-10 {
    width: 10%;
  }
  
  .w-15p {
    width: 15px;
  }
  
  .h-2p {
    height: 2px;
  }
  
  .fs-12 {
    font-size: 12px;
  }

  .fs-24{
    font-size: 24px;
  }

  .m-t-10-minus {
    margin-top: -10px !important;
  }

  .ms-lg-5 {
    margin-left: 5px;
  }

  .line-h-45 {
    line-height: 45px;
  }

  .fs-10 {
    font-size: 10px;
  }
  
  .fs-20 {
    font-size: 20px;
  }
  
  .fs-26 {
    font-size: 16px;
  }