  .ms-23{
    margin-left: 23px !important;
  }

  .ms-32-minus{
    margin-left: -32px !important;
  }
  
  .w-50vw{
    width: 50vw !important;
  }
  
  .w-60{
    width: 60% !important;
  }

  .w-40{
    width: 40% !important;
  }
  
  .h-50px {
    height: 50px !important;
  }
  
  .w-4 {
    width: 4% !important;
  }
  
  .w-10 {
    width: 10% !important;
  }
  
  .w-15p {
    width: 15px !important;
  }
  
  .h-2p {
    height: 2px !important;
  }
  
  .fs-12 {
    font-size: 12px !important;
  }

  .fs-24{
    font-size: 24px !important;
  }

  .m-t-10-minus {
    margin-top: -10px !important;
  }

  .ms-lg-5 {
    margin-left: 5px !important;
  }

  .line-h-45 {
    line-height: 45px !important;
  }

  .fs-10 {
    font-size: 10px !important;
  }
  
  .fs-20 {
    font-size: 20px !important;
  }
  
  .fs-26 {
    font-size: 16px !important;
  }