* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.bg-form{
  background-color: #ededed !important;
}

.bg-gold {
  background-color: #caad68 !important;
}

.color-gold {
  color: #caad68 !important
}

a {
  text-decoration: none !important;
  color: white !important;
}

.link:hover {
  color: #caad68 !important;
}

.dropdown-item:hover {
  color: #caad68 !important;
}

.nav-item:hover {
  background-color: #caad68;
}

.nav-link.active {
  background-color: #caad68 !important;
}

.navbar {
  --bs-navbar-padding-y: 0rem !important;
  z-index: 5 !important;
}

.lang {
  height: 35px !important;
  width: 25px !important;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
  line-height: 25px;
  text-decoration: underline;
  font-weight: 600 !important;
}


.carousel-caption-txt {
  font-size: calc(12px + 1vw) !important;
}

.carousel-caption {
  transform: translatey(-50%);
  max-height: 35% !important;
}

.carousel-caption h5 {
  font-size: calc(8px + 1vw) !important;
  margin-top: calc(12px + 1vw) !important;
}

.carousel-caption button {
  font-size: calc(5px + 1vw) !important;
  color: white;
  border: 2px white solid;
  padding: calc(0.5px + 1vw) !important;
  margin-top: calc(3px + 1vw) !important;
}

.carousel-indicators button {
  border-radius: 50%;
  height: calc(5px + 0.5vw) !important;
  width: calc(5px + 0.5vw) !important;
  border: white 2px solid !important;
  background-color: transparent !important;
  z-index: 5;
  margin-bottom: 3%;
}

.carousel-indicators button.active {
  background-color: white !important;
}

.header-presentation {
  height: calc(100px + 15vw) !important;
}

/* .test{
  margin: 0 20% !important;
} */

@media screen and (max-width: 655px) {
  .carousel-caption {
    transform: translatey(-70%);
  }

  .carousel-caption h5 {
    margin-bottom: 0 !important;
  }

  .carousel-caption button {
    margin: 0 !important;
  }

  .baniere img{
    object-fit: cover;
height: 150px;

}

}

@media screen and (min-width: 768px) {
  header:not(.header-presentation) {
    height: 100vh !important;
  }

  /* .header-presentation {
      height: 40vh !important;
    } */
  .carousel-caption button {
    font-size: calc(12px + 1vw) !important;
    margin-top: calc(3px + 1vw) !important;
  }

  .logo {
    width: 75% !important;
  }

  .carousel-caption {
    transform: translatey(-50%);
  }
}

@media screen and (min-width: 999px) {
  .carousel-caption h5 {
    margin-bottom: calc(50px + 1vw) !important;
  }

  .carousel-indicators button {
    margin-bottom: 3%;
  }

  .header-presentation {
    height: 60vh !important;
  }

  /* regler probleme logo */

}

/* section actus */

.custom-border-bottom {
  border-bottom: 3px solid black;
  width: 40px;
  cursor: pointer;
}

.custom-border-bottom:hover {
  width: 115px;
}

/* Card */
.more img {
  width: 25%;
}

.more:hover {
  cursor: pointer;
  width: 200%;

}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* footer twitter */
.middle {
  transition: .5s ease;
  opacity: 0;
}

.twitter-container:hover .image {
  opacity: 0.3;
}

.twitter-container:hover .middle {
  opacity: 1;
}

.text {
  font-size: 12px;
}

.boutons {
  gap: 10px;
}

.boutons button {
  color: white;
  background-color: #caad68;
  width: 45%;
  height: 60px;

}

.formules.carousel-inner {
  max-height: 50vh !important;
}

.formules {
  margin: 0 13%;
}
.trait img{
  float: left;
  padding: 6px;
  width: 11%;
}


/* map */
.dark-mode{
  filter: grayscale(100%) invert(100%);
  height: 50vh;
}
footer a:hover{
  color: #caad68!important;
 }


/* error */



.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #caad68;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}


  .coordonnees-container h4, .coordonnees-container h5,  .coordonnees-container p,  .coordonnees-container {
    max-width: 300px !important;
    display: flex;
    flex-direction: column;
   
  }

  .coordonnees-container img{
    width: 30% !important;
  }
  .coordonnees-container h5{
   font-weight: 600;
  margin-bottom: 0;
  margin-top: 5%;
  }

